{:paths ["test"]
 :tasks
 {test {:doc "Run helper tests except simulator tests"
        :task (do
                (require 'swarmforge.test-runner)
                ((resolve 'swarmforge.test-runner/run-non-simulation!)))}
  simulation-test {:doc "Run simulator tests"
                   :task (do
                           (require 'swarmforge.test-runner)
                           ((resolve 'swarmforge.test-runner/run-simulation!)))}}}
